<h1 style="padding: 70px 0;
  text-align: center;
  font-size: 2em">
    You have successfully logged in.
    Have a good day!
</h1>
<h1 style="text-align: center; font-size: 4em">{{data.name}}</h1>
<h1 style="text-align: center; font-size: 4em">...</h1>
<footer style="text-align: center;">
    <a href='/products'>Click here</a> to check in
<footer>